<!-- Данный файл начинается на _ . Он называется (partial) - это файл не просто представление, а частичное представление-->
<!-- parial рендерится само по себе, вся разметка, но эта разметка не вставдяется в layout-->
<!-- Он нужен чтоб вставлять эту разметку в другие страницы-->


<!--специальная функция form_with (новый хлепер в rails 6) генерирует форму -->
<!--Можем либл укаазать напрямую url куда отпраивтся наша форма-->
<!--Либо указать model, в нашем случае лучше, так как сгенерируется все автоматически -->

<!--required(проверяет на наличине текста в в поле (сам браузер))  и minlength и тд это атрибуты -->
<!--label это текст перед нашей полем допустим, Title-->

<%= render 'shared/errors', object: @question %>

<%= form_with model: @question do |f| %>
  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :title %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :title, placeholder: 'Title', class: 'form-control' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :body %>
    </div>

    <div class="col-sm-10">
      <%= f.text_area :body, class: 'form-control' %>
    </div>
  </div>

  <%= f.submit "Submit question!", class: 'btn btn-primary' %>
<% end %>