<!-- Данный файл начинается на _ . Он называется (partial) - это файл не просто представление, а частичное представление-->
<!-- parial рендерится само по себе, вся разметка, но эта разметка не вставдяется в layout-->
<!-- Он нужен чтоб вставлять эту разметку в другие страницы-->


<!--специальная функция form_with (новый хлепер в rails 6) генерирует форму -->
<!--Можем либл укаазать напрямую url куда отпраивтся наша форма-->
<!--Либо указать model, в нашем случае лучше, так как сгенерируется все автоматически -->

<%= form_with model: @question do |f| %>

    <!--required(проверяет на наличине текста в в поле (сам браузер))  и minlength и тд это атрибуты -->
    <!--label это текст перед нашей полем допустим, Title-->
    <div>
        <%= f.label :title %>
        <%= f.text_field :title, placeholder: "Title" %>
    </div>

     <div>
        <%= f.label :body %>
        <%= f.text_area :body %>
    </div>
        <%= f.submit "Submit question!" %>
<% end %>