<!DOCTYPE html>
<html>
  <head>
    <title>AskIt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
      <ul>
      <!-- link_tо показываеь что будет написано в названиее ссылки, дальше идет ссылка наша -->
      <!-- root это префикс маршрута(смотрим в rails routes) тоесть короткое имя '/'-->
      <!-- Вместо path можнл написать _url тогда в ссылку будет входить еще и имя домена, например localhost:3000/questions --> >
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Questions', questions_path %></li>
      </ul>
    </nav>

    <main>
    <%= yield %>
    </main>

  </body>
</html>
